<h1>Trips#show</h1>
<p>Find me in app/views/trips/show.html.erb</p>

<h4> Seats: <%= @trip.seats_avaliable  %> </h4>
<h4> Car: <%= @trip.car_desc  %> </h4>
<h4> Time: <%= @trip.desired_start_time.strftime '%I:%M %p'  %> </h4>
<h4> Date: <%= @trip.date.strftime '%a, %d %b, %y'  %> </h4>

<% user = User.find @trip.user_id  %>
	<%= link_to(user.username, user) if user.username %>

To-do: 
School.id