<div class="container">
<% if @current_user %>

	<div class="show_column">
		
		<h3><strong> <%= link_to(@trip.school.name, school_path(@trip.school))  %> </h3> </strong>
		<h4><strong>Direction: </strong> 
			<% if @trip.direction == "Dropoff" %>
				Drop-off at school
			<% else %>
				Pick-up from school
			<% end %>
			</h4>
		<h4> <strong>Time: </strong><%= @trip.desired_start_time.strftime "%l:%M %p"  %> </h4>
		<h4> <strong>Date: </strong><%= @trip.date.strftime "%a, %B %d, %Y"  %> </h4>
		<br>
		<h3> <strong> Seats Remaining:</strong> <%= @trip.seats_remaining  %> </h3> 
	<div class="request_seat">
	<h3>Request a seat</h3>
	<div>
 	<% if @current_user.kids && @trip.seats_remaining > 0 %>
		<%= form_tag trip_book_path(@trip) do   %> 
			<select name="kid_id", class="form-control">
				<option disabled>Select kid</option>
				<% @current_user.kids.each do |kid| %>
				  <option value="<%= kid.id %>"><%= kid.first_name.capitalize %></option>
				<% end %> 
			</select>
			<div> </div>
			<label></label>
			<%= submit_tag %>
		<% end %> 
	<% else %>
		<h4>Sorry. There are no available seats.</h4>
	<% end %>
	</div>
	</div>
	<br>

	</div>

	<div class="show_column">
		<h3> <strong> Driver: </strong><%= link_to @trip.user.first_name.capitalize, @trip.user  %></h3>
		<h4> <strong> Car: </strong> <%= @trip.user.car_brand  %> <%= @trip.user.car_model  %> </h4>
		<p>
      	<% if @trip.user.car_avatar.url.chars.last(11).join == "missing.png"  %>
            <%= image_tag @trip.user.car_image %>
        <% else %>
             <%= image_tag @trip.user.car_avatar.url %> 
        <% end %>		
        </p>
		<% if @current_user.id == @trip.user_id || @current_user.admin %>
			<div class="btn btn-group-lg btn-warning" > <%= link_to('Edit Trip', edit_trip_path(@trip)) %> </div>
			<div class="btn btn-group-lg btn-danger" > <%= link_to 'Delete', @trip, :method => :delete, :data => { :confirm => "Are you sure?" }%> </div>
		<% end %>

	</div>

	<div class="show_column">
		<h2>Passengers</h2>
		<% @trip.kids.each do |kid| %>
		<div class="show_box">
			<div class="show_box_smaller">
		

      	<% if kid.avatar.url.chars.last(11).join == "missing.png"  %>
            <%= image_tag kid.image %>
        <% else %>
             <%= image_tag kid.avatar.url %> 
        <% end %>


			</div>

			<div class="show_box_smaller">
				<ul> 
					<li> <strong> <%= link_to kid.first_name.capitalize, kid  %> </strong> </li>
					<li> <strong>School: </strong><%= kid.school.name  %> </li>
					<li> <strong>Suburb: </strong><%= kid.user.suburb  %></li>
				</ul>
				<% if @current_user.id == @trip.user_id || @current_user.id == kid.user_id || @current_user.admin %>
					<div class="btn btn-group-lg btn-warning btn-small" > 
						<%= link_to 'Remove Child', trip_unbook_path(@trip, kid), :method => :delete %> 
					</div>
				<% end %>
			</div>
		</div>
		<% end %>

	</div>

<!-- MESSAGING -->
	<div class="messaging">	
 	<% if @current_user  %> 
 	<h2>Messages </h2>

	    <% @trip.comments.each do |comment| %>
	    <div class="comment_block">
	        <div class="name_comment"> <h3> <%= link_to comment.user.first_name, user_path %></h3> </div>
	        <div class="comment_text"> 
	        <h4>	<%= comment.comment_text %></h4> 
	        <p> <%= comment.created_at.strftime "%I:%M %P, %B %d, %Y"  %> </p>
	        </div>

		    <div class="trip_comment_buttons">
				<% if @current_user.id == @trip.user_id || @current_user.id == comment.user_id || @current_user.admin %>
		<!-- Edit Button -->
					<!-- <div class="btn btn-group-lg btn-warning" > <%= link_to('Edit Comment', edit_trip_comment_path(@trip, comment)) %> </div> -->
		<!-- Delete Button -->
					<div class="btn btn-group-lg btn-danger" > <%= link_to 'Delete', trip_comment_path(@trip, comment), :method => :delete %> </div>

				<% end %>
			</div>
			</div>
		<% end %> 

	    <%= form_for ([@trip, @trip.comments.new]) do |f|  %>
		    <div class="input-group">
			  <%= f.text_area :comment_text , :autofocus => true, :placeholder => "Comment", :class =>  	"form-control" %>
		      <span class="input-group-btn">
		      		<%= f.submit "Post!", :class => "btn btn-default btn-lg"%>
  		      </span>
		    </div><!-- /input-group -->
	    <% end %>
    <% end %>
	</div>

<!-- MAP PART -->
    <section id="contact" class="map">
    <% if @trip.direction == 'dropoff' # Dropoff at school %>
	    <% @origin = @trip.user.map_address %>
	    <% @destination = @trip.school.map_address %>
    <% else %>
    	 <%@destination = @trip.user.map_address %>
	    <% @origin = @trip.school.map_address %>
    <% end %>

    <% if @trip.kids.length > 0 %>
	<iframe
	width="100%" height="100%" marginheight="0" marginwidth="0"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
	  &origin=<%= @origin.gsub(' ', '+').gsub(',', '+').gsub('++', '+')  %>&destination=<%= @destination.gsub(' ', '+').gsub(',', '+').gsub('++', '+')  %>&mode=driving&waypoints=<% @trip.kids.each_with_index do |kid, index| %><% if index != (@trip.kids.length - 1) %><%=kid.user.map_address%>|<% else %><%=kid.user.map_address%><%end%><%end%>"
	</iframe>
	<% else #if there is no new passengers %> 
	<iframe
	width="100%" height="100%" marginheight="0" marginwidth="0"
	  frameborder="0" style="border:0"
	  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
	  &origin=<%= @origin.gsub(' ', '+').gsub(',', '+').gsub('++', '+')  %>&destination=<%= @destination.gsub(' ', '+').gsub(',', '+').gsub('++', '+')  %>&mode=driving"
	</iframe>
	<% end %>
	</section> 

<% end %>
</div>