
<h4> Seats: <%= @trip.seats_avaliable  %> </h4>
<h4> Car: <%= @trip.user.car_brand  %>, <%= @trip.user.car_model  %> </h4>
<h4> Time: <%= @trip.desired_start_time.strftime '%I:%M %p'  %> </h4>
<h4> Date: <%= @trip.date.strftime '%a, %d %b, %y'  %> </h4>

<h2>Driver:</h2>
<p><%= link_to @trip.user.username, @trip.user  %></p>

<%= link_to('Edit Trip', edit_trip_path(@trip))   %>
<%= link_to 'Delete', @trip, :method => :delete, :data => { :confirm => "Are you sure?" } %>
