<%= form_for @kid do |f| %>
<p>
	<%= f.label :name  , "Name:" %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :dob  , "DOB:" %>
	<%= f.text_field :dob %>
</p>
<p>
	<%= f.label :gender  , "gender:" %>
	<%= f.text_field :gender %>
</p>
<p>
	<%= f.label :description  , "description:" %>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :image  , "image:" %>
	<%= f.url_field :image %>
</p>
	<label></label>
	<%= f.submit %>
<% end %>