
	<div class="form_page">
		<div class="input-group">

	<%= form_for @kid do |f| %>
	<div class="form_segment">
		<%= f.label :first_name  , "First Name" %>
		<%= f.text_field :first_name , required: true, :class => "form-control" %>
	</div>
	<div class="form_segment">
		<%= f.label :last_name  , "Last Name" %>
		<%= f.text_field :last_name , required: true, :class => "form-control" %>
	</div>
	<div class="form_segment">
		<%= f.label :dob  , "Date of Birth" %>
		<%= f.date_field :dob , required: true, :class => "form-control"  %>
	</div>
	<div class="form_segment">
		<%= f.label :gender  , "Gender" %>
		<select name="kid[gender]", class="form-control",  required>
		  <option value="male">Male</option>
		  <option value="female">Female</option>
		</select>

	<div class="form_segment">
		<%= f.label :school, "School"  %>
		<select name="kid[school_id]", class="form-control", prompt="Select school", required>
			<option disabled>Select school</option>
			<% School.all.each do |school| %>
				<option value=<%= school.id %> > <%= school.name  %> </option>
			<% end %>
		</select>  
	</div>

	<div class="form_segment">
		<%= f.label :image  , "Image" %>
		<%= f.url_field :image,  :class => "form-control"  %>
	</div>

<!-- Avatar -->
	<div class="form_segment">
	<div class="field">
  		<%= f.label :avatar %><br />
  		<%= f.file_field :avatar %>
	</div>
	</div>	
		<label></label>
		<%= f.submit %>
	<% end %>

	</div>
	</div>
