<div class="container">

<div class="show_column">
	<h1> <%= @kid.first_name  %></h1>
	<img src='<%= @kid.image  %>' >
	<h4> <strong>Gender: </strong><%= @kid.gender.capitalize  %> </h4>
	<h4> <strong>Age: </strong><%= ((Date.today - @kid.dob).to_f/365.25).round  %>-years-old </h4>
	<h4> <strong>School: </strong><% @school = (School.find @kid.school_id)  %> <%= link_to(@school.name, @school)  %></h4>
	<h4> <%= @kid.description  %> </h4>

<!-- Edit segment -->	
	<% if @current_user.id == @kid.user_id || @current_user.admin %>
		<div class="btn btn-group-lg btn-warning"> 
			<%= link_to 'Edit Student', edit_kid_path(@kid) %> 
		</div>
		<div class="btn btn-group-lg btn-danger"> 
			<%= link_to 'Delete Student', @kid, :method => :delete, :data => { :confirm => "Are you sure?" } if @current_user.id = @kid.user_id %> 
		</div>
	<% end %>
</div>

<div class="show_column">
	<% user = User.find @kid.user_id  %>
		<h2><%= link_to("Parent", user_path) %>: <%= user.first_name  %> <%= user.last_name  %></h2>
		<%= image_tag(user.image) %>
		<h4><strong>Suburb:</strong> <%= user.suburb %>, <%= user.postcode %></h4>

<!-- Contacts -->
	     <div class="col-lg-10 col-lg-offset-1 text-center">
	        <ul class="list-unstyled">
                <li><h4><i class="fa fa-phone fa-fw"></i> <%= number_to_phone(user.phone_number)  %></h4></li>
                <li><h4><i class="fa fa-envelope-o fa-fw"></i>  <a href=<%= user.email %>><%= user.email %></a></h4></li>
                <li> - </li>
            </ul>
            <ul class="list-inline">
                <li>
                    <a href=<%= user.facebook  %>><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                </li>
                <li>
                    <a href=<%= user.twitter  %>><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                </li>
            </ul>	        	
		</div>
	</div>

	<div class="show_column">
		<h2><%= link_to "Trips", trips_path %></h2>
		<% @kid.trips.each do |trip| %>
		<div class="show_box">
			<ul>
			<li><%= link_to(trip.school.name, trip) %></li>
			<li> <strong> Date: </strong> <%= trip.date.strftime "%a, %B %d, %Y"  %> </li>

			<li> <strong> Time: </strong> <%= trip.desired_start_time.strftime "%l:%M %p"  %> </li>

			<li> <strong> Direction: </strong> <%= trip.direction.capitalize  %> </li>
			<li> <strong> School: </strong> <%= trip.school.name  %> </li>
			<li><strong>Seats Remaining: </strong> <%= trip.seats_remaining  %></li>
			</ul>
		</div>
		<% end %>
	</div>

    <section id="contact" class="map">	
		<iframe
		  width="100%" height="500" marginheight="0" marginwidth="0" frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
		    &q=<%= @result.latitude %>,<%= @result.longitude  %>">
		</iframe>
	</section>



</div>