<div class="container">

<div class="show_column">
	<h1> <%= @kid.first_name  %> </h1>
	<img src='<%= @kid.image  %>' >
</div>

<div class="show_column">
	<h3> <%= @kid.gender  %> </h3>
	<h3> <%= ((Date.today - @kid.dob).to_f/365.25).round  %>-years-old </h3>
	<h3> <% @school = (School.find @kid.school_id)  %> 
			<%= link_to(@school.name, @school)  %></h3>
	<h3> <%= @kid.description  %> </h3>

	<div class="btn btn-lg btn-light"> 
		<%= link_to 'Edit Student', edit_kid_path(@kid)  if @current_user.id = @kid.user_id %> 
	</div>

	<div class="btn btn-lg btn-dark"> 
		<%= link_to 'Delete', @kid, :method => :delete, :data => { :confirm => "Are you sure?" } if @current_user.id = @kid.user_id %> 
	</div>
</div>

<div class="show_column">
	<h1>Parent:</h1>
	<% user = User.find @kid.user_id  %>
		<%= link_to(user.username, user_path) %>
</div>

</div>