<h1>Kids#show</h1>
<p>Find me in app/views/kids/show.html.erb</p>

<%= @kid.name  %>
<img src='<%= @kid.image  %>' >
<%= @kid.gender  %>
<%= @kid.description  %>
<% user = User.find @kid.user_id  %>
	<%= user.username if user %>

<%= link_to('Edit Student', edit_kid_path(@kid))   %>
<%= link_to 'Delete', @kid, :method => :delete, :data => { :confirm => "Are you sure?" } %>