<h1>Users#_form</h1>
<p>Find me in app/views/users/_form.html.erb</p>

<% if @user.errors.any? %>
	<ol>
		<%  @user.errors.full_messages.each do |msg| %>
			<li> <%= msg %> </li>
		<% end %>
	</ol>
<% end %>

<%=  form_for @user do |f|  %>
<div>
	<%= f.label :username %>
	<%= f.text_field :username, :autofocus => true %>
</div>
<div>
	<%= f.label :email %>
	<%= f.email_field :email %>
</div>
<div>
	<%= f.label :password %>
	<%= f.password_field :password %>
</div>
<div>
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %>
</div>
<div>
	<%= f.label :image %>
	<%= f.url_field :image %>
</div>
<div>
	<%= f.label :phone_number %>
	<%= f.text_field :phone_number %>
</div>
<div>
	<%= f.label :family_description %>
	<%= f.text_field :family_description %>
</div>
<div>
	<%= f.label :car %>
	<%= f.text_field :car %>
</div>
<div>
	<%= f.label :street_address %>
	<%= f.text_field :street_address %>
</div>
<div>
	<%= f.label :suburb %>
	<%= f.text_field :suburb %>
</div>
<div>
	<%= f.label :postcode %>
	<%= f.text_field :postcode %>
</div>
<div>
	<%= f.label :state %>
	<%= f.text_field :state %>
</div>
<div>
	<%= f.submit %>
</div>

<% end %>