<div class="container">

	<div class="show_column">
		<h2><strong><%= @user.first_name.capitalize  %> <%= @user.last_name.capitalize  %></strong></h2>
		<%= image_tag @user.avatar.url(:square) %>		
		<h4><strong>Schools: </strong> <%=  @school_list.uniq.join ", " %></h4>
		<h4><strong>Distance: </strong> <%= (@user.distance_to([@current_user.user_latitude, @current_user.user_longitude])).round(2)   %> km away</h4>
		<h4> <strong>Vehicle: </strong> <%= @user.car_brand  %> <%= @user.car_model %> </h4>
		<%= image_tag(@user.car_image)  %>


<!-- Contacts -->
	     <div class="col-lg-10 col-lg-offset-1 text-center">
	        <ul class="list-unstyled">
                <li><i class="fa fa-phone fa-fw"></i> <%= number_to_phone(@user.phone_number)  %></li>
                <li><i class="fa fa-envelope-o fa-fw"></i>  <a href=<%= @user.email %>><%= @user.email %></a>
                </li>
                <li> - </li>
            </ul>
            <ul class="list-inline">
                <li>
                    <a href=<%= @user.facebook  %>><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                </li>
                <li>
                    <a href=<%= @user.twitter  %>><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                </li>
            </ul>	        	
		</div>
	<div>
		<% if @current_user.admin || @current_user.id = @user.id%>
			<div class="btn btn-group-lg btn-warning"> 
			<%= link_to("Edit Profile", edit_user_path(@user)) %></div>
		<% end %>
		<% if @current_user.admin %>
		<div class="btn btn-group-lg btn-danger"> 
		<%= link_to 'Delete Profile', @user, :method => :delete, :data => { :confirm => "Are you sure?" } %>
		</div>
		<% end %>
	</div>
	</div>

	<div class="show_column">
		<h2><%=  link_to "Children", kids_path %></h2>
		<% @user.kids.each do |kid| %>
		<div class="show_box">
			<div class="show_box_smaller">
			<%= image_tag kid.image  %>
			</div>

			<div class="show_box_smaller">
				<ul> 
					<li> <%= link_to kid.first_name.capitalize, kid  %> </li>
					<li> <%= kid.school.name  %> </li>
					<li><%= ((Date.today - kid.dob).to_f/365.25).round  %>-years-old </li>
				</ul>
			</div>
		</div>
		<% end %>
	<% if @current_user.id == @user.id || @current_user.admin %>	
	<div class="btn btn-group-lg btn-success"> 
		<%= link_to("Add Kid", new_kid_path) %></div>
	<% end %>

	
	</div>

	<div class="show_column">
		<h2><%= link_to "Trips", trips_path %></h2>
		<% @user.trips.each do |trip| %>
		<% if trip.date >= Date.today %>
		<div class="show_box">
			<ul>
			<li><%= link_to(trip.school.name, trip) %></li>
			<li> <strong> Date: </strong> <%= trip.date.strftime "%a, %B %d, %Y"  %> </li>

			<li> <strong> Time: </strong> <%= trip.desired_start_time.strftime "%l:%M %p"  %> </li>

			<li> <strong> Direction: </strong> <%= trip.direction.capitalize  %> </li>
			<li> <strong> School: </strong> <%= trip.school.name  %> </li>
			<li><strong>Seats Remaining: </strong> <%= trip.seats_remaining  %></li>
			</ul>
		</div>
		<% end %>
		<% end %>

	<% if @current_user.id == @user.id || @current_user.admin %>	
		<div class="btn btn-group-lg btn-success"> 
			<%= link_to("Add Trip", new_trip_path) %>
		</div>
	<% end %>

	</div>

    <section id="contact" class="map">	
		<iframe
		  width="100%" height="500" marginheight="0" marginwidth="0" frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
		    &q=<%= @user.user_latitude %>,<%= @user.user_longitude  %>">
		</iframe>
	</section>


</div>