<%= form_for @school do |f| %>
<div class="form_segment">
	<%= f.label :name  , "Name:" %>
	<%= f.text_field :name %>
</div>
<div class="form_segment">
	<%= f.label :street_address  , "Street address:" %>
	<%= f.text_field :street_address %>
</div>
<div class="form_segment">
	<%= f.label :suburb  , "Suburb:" %>
	<%= f.text_field :suburb %>
</div>
<div class="form_segment">
	<%= f.label :postcode  , "Post code:" %>
	<%= f.text_field :postcode %>
</div>
<div class="form_segment">
	<%= f.label :state  , "State:" %>
	<%= f.text_field :state %>
</div>
<div class="form_segment">
	<%= f.label :state_time  , "Start time:" %>
	<%= f.text_field :start_time %>
</div>
<div class="form_segment">
	<%= f.label :finish_time  , "Finish time:" %>
	<%= f.text_field :finish_time %>
</div>
	<label></label>
	<%= f.submit %>
<% end %>