<div class="container">
	<h1>Schools in your area</h1>
	<div class="btn btn-group-lg btn-success btn-index"> 
		<%= link_to("New School", new_school_path) %></div>

	<% @schools.each do |school| %> 
			<div class="index">	

      	<% if school.logo.url.chars.last(11).join == "missing.png"  %>
            <%= image_tag school.image %>
        <% else %>
             <%= image_tag school.logo.url %> 
        <% end %>	
						
			</div>

			<div class="index">
				<h3> <%= link_to school.name, school  %> </h3>
				<h4><strong>Address: </strong><%= school.street_address  %></h4>
				<h4><strong>Suburb: </strong><%= school.suburb %>, <%= school.postcode  %>, <%= school.state  %></h4>
				<h4><strong>Hours: </strong><%= school.start_time.strftime "%I:%M %p"   %> - <%= school.finish_time.strftime "%I:%M %p"   %></h4>
				<h4><strong>Distance:</strong> <%= school.distance_to([@current_user.user_latitude, @current_user.user_longitude]).round(2)  %> km away</h4>
				<h4><strong>Students:</strong> <%= school.kids.count  %> students</h4>
				<h4><strong>Active Trips:</strong> 
					<% active_trips = [] %>
					<% school.trips.each do |trip|   %>
						<% if trip.date >= Date.today  %>
							<% active_trips << trip %>
						<% end %>
					<% end %>
				<%= active_trips.count  %> available </h4>
			</div>

			<div class="index">
				<iframe
			   width="285" height="285" marginheight="0" marginwidth="0" frameborder="0" style="border:0"

				  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
				    &q=<%= school.map_address  %>">
				</iframe>
			</div>
	<% end %>
	</ul>

</div>