<div class="container">
<% if @current_user %>

	<div class="show_column">

		<h2>
			<%= @school.name  %>
		</h2>
      	<% if @school.logo.url.chars.last(11).join == "missing.png"  %>
            <%= image_tag @school.image %>
        <% else %>
             <%= image_tag @school.logo.url %> 
        <% end %>		

		<h4>
			<strong>Address:</strong> <%= @school.street_address  %>
		</h4>
		<h4>
			<strong>Suburb:</strong> <%= @school.suburb  %>, <%= @school.postcode  %>
		</h4>
		<h4>
			<strong>State:</strong> <%= @school.state  %>
		</h4>
		<h4>
			<strong>Start Time:</strong> <%= @school.start_time.strftime "%I:%M %p"  %>
		</h4>
		<h4>
			<strong>Finish Time:</strong> <%= @school.finish_time.strftime "%I:%M %p"  %> 
		</h4>
		<h4><strong>Distance:</strong> <%= @school.distance_to([@current_user.user_latitude, @current_user.user_longitude]).round(2)  %> km away</h4>

		<div class="btn btn-group-lg btn-warning"> 
			<%= link_to('Edit School', edit_school_path(@school))   %>
		</div>
		<div class="btn btn-group-lg btn-danger"> 
			<%= link_to 'Delete', @school, :method => :delete, :data => { :confirm => "Are you sure?" } %>
		</div>
	</div>

	<div class="show_column">
	<h2><%= link_to "Trips", trips_path %> 
	<!-- # Active trips -->
	<% active_trips = [] %>
	<% @school.trips.each do |trip| %>
		<% if trip.date >= Date.today %>
			<% active_trips << trip %>
		<% end %>
	<% end %>
	(<%= active_trips.count  %>)</h2>
		<% @school.trips.each do |trip|  %>
		<% if trip.date > Date.today %>
		<div class="show_box">
			<ul>
			<li><strong>Driver: </strong><%= link_to(trip.user.first_name.capitalize, user_path) %>, <%= trip.user.suburb  %></li>
			<li> <strong> Date: </strong> <%= trip.date.strftime "%a, %B %d, %Y"  %> </li>

			<li> <strong> Time: </strong> <%= trip.desired_start_time.strftime "%l:%M %p"  %> </li>

			<li> <strong> Direction: </strong> <%= trip.direction.capitalize  %> </li>
			<li><strong>Seats Remaining: </strong> <%= trip.seats_remaining  %></li>
			</ul>
		</div>
		<% end %>
		<% end %>
	</div>


	<div class="show_column">
	<h2><%= link_to "Students", kids_path %> (<%= @school.kids.count  %>)</h2>
	<% @school.kids.each do |kid|  %>
		<div class="show_box">
			<div class="show_box_smaller">

		      	<% if kid.avatar.url.chars.last(11).join == "missing.png"  %>
		            <%= image_tag kid.image %>
		        <% else %>
		             <%= image_tag kid.avatar.url %> 
		        <% end %>		
		        		
			</div>
			<div class="show_box_smaller">
				<ul>
				<li><%= link_to kid.first_name.capitalize, kid  %></li>
				<li><%= ((Date.today - kid.dob).to_f/365.25).round  %>-years-old</li>
				<li><%= kid.user.suburb  %></li>
				<li><strong>Parent: </strong><%= link_to kid.user.first_name.capitalize, user_path  %></li>
				</ul>
			</div>
		</div>
	<% end %>
	</div>

    <section id="contact" class="map">
		<iframe
		  width="100%" height="500" marginheight="0" marginwidth="0" frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyByeW3PQr7VCnExkxH9pas6C2EfAUDdDsQ
		    &q=<%= @school.map_address  %>">
		</iframe>
	</section>

<% end %>
</div>