<h1>Schools#show</h1>
<p>Find me in app/views/schools/show.html.erb</p>

<div>
	Name: <%= @school.name  %>
</div>
<div>
	Street Address: <%= @school.street_address  %>
</div>
<div>
	Suburb: <%= @school.suburb  %>
</div>
<div>
	Post code: <%= @school.postcode  %>
</div>
<div>
	State: <%= @school.state  %>
</div>
<div>
	Start Time: <%= @school.start_time.strftime "%I:%M %p"  %>
</div>
<div>
	Finish Time: <%= @school.finish_time.strftime "%I:%M %p"  %>
</div>

<%= link_to('Edit School', edit_school_path(@school))   %>
<%= link_to 'Delete', @school, :method => :delete, :data => { :confirm => "Are you sure?" } %>